.btn-card {
  color: rgb(247, 245, 242);
  background-color: #49814b;
  text-decoration: none
}

.btn-card:hover {
  color: white;
  background-color:#385568;
  text-decoration: none
}

.image-container {
  max-height: 50px;
  width: 100%;
  align-items: center;
}


.thumbnail-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

