.city-banner {
  padding: 3rem;
  margin-top: 3rem;
  background-color: #528AAE;
  width: 100%;
}

.city-text {
  margin-top: 2rem;
  color: rgb(33, 30, 30);
  padding: 2rem;
}

.about-text {
  color: rgb(247, 245, 242);
  background-color: #385568;
  vertical-align: middle;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-text {
  background-color: #49814b;
  width: 25%;
  padding: 2rem;
}
.map-frame {
  width: 100%;
  height: 600px;
  margin-left: 0px;
}


.bg {
  width: 100%;
  height: 400px;
}
  .bg img {
    width: 100%;
    height: 600px;
    aspect-ratio:initial;

  }