#dropdown-btn {
  background-color: #49814b;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  height: 1.5rem;
  padding-top: 0px;
}


#dropdown-btn:hover, #dropdown-btn:active{
  background-color:#385568;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  height: 1.5rem;
}