#home-image {
  background-image: url("../../public/homelessness.jpg"), linear-gradient(#05291d80,rgba(58, 63, 49, 0.5));
  background-blend-mode: overlay;
  height: 800px;
}


.nav-text {
  color: #05120df5;
  text-decoration: none;
  height: 100%;
}

.home-about {
  color: rgb(247, 245, 242);
  background-color: #385568;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 10rem;
}


.nav-brand {
  color: #05120df5 !important;
  text-decoration: none
}

.nav-brand:hover, .nav-brand:active {
  color: rgb(247, 245, 242) !important;
  text-decoration: none
}

.btn-custom {
  background-color: #258661f5;
  text-decoration: none;
  color: white;
}

.btn-custom:hover {
  background-color:rgb(247, 245, 242);
  text-decoration: none;
  color: #258661f5;
}





.nav-text:hover {
  color:  rgb(247, 245, 242);
  background-size: cover;
  text-decoration: none;
}

.active {
  color: rgb(247, 245, 242);
  text-decoration: none
}


.pending {
  /* color:  #28c69480; */
  background: #05120df5 ;
  background-size: cover;
}

