
#city-image {
  background-image: url("../../public/cities_bg.png"), linear-gradient(#05291d80,rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #b2bab4;
}


#pantry-image {
  background-image: url("../../public/food_bank.png"), linear-gradient(#05291d80,rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#shelter-image {
  background-image: url("../../public/shelter-banner.jpg"), linear-gradient(#05291d80,rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.model-header {
  color: rgb(247, 245, 242);
}

