.submit-button {
  color: rgb(247, 245, 242);
  background-color:#385568;
  border: none;
  text-decoration: none
}

.submit-button:hover {
  color: white;
  background-color: #172731;
  border: none;
  text-decoration: none
}
#dropdown-item-button{
  background-color:#385568;
  border: none;

}
#dropdown-item-button:hover {
  background-color: #172731;
  border: none;
}