
.arrow {
  background-color: #49814b;
  padding: 1rem;
  margin: 1rem;
}


.next_button {
  padding: 9px;
  border: 1px solid #ddd;
  color: #49814b;;
  background: white;
  width: 3rem;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.prev_button {
  padding: 9px;
  border: 1px solid #ddd;
  color: #49814b;;
  background: white;
  width: 3rem;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
}




@media only screen and (max-width: 1500px){

  .pagination {
    list-style: none;
    align-items: center;
  }

  .pagination-box {
    margin: auto;
    display: flex;
    justify-content: center
  }

}


@media only screen and (max-width: 600px){

  .pagination {
    list-style: none;
    width: 75%;
    align-items: center;
  }

  .pagination-box {
    margin: auto;
    width: 100%;
    display: block;
  }

}

.page_item_custom {
  padding: 8px;
  border: 1px solid #ddd;
  color: #49814b;
  background: white;
  width: 3rem;
  text-decoration: none;

}

.page_item_custom--active {
  padding: 8px;
  border: 1px solid #ddd;
  background: #49814b;
  color: white;
  width: 3rem;
  text-decoration: none;

}


.page_link_custom {
  color: inherit;
  text-decoration: none;
}
.page_link_custom a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

.pagination_link a {
  border: 1px solid #ddd; /* Gray */
  color: #49814b;
}

.pagination:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.num-instances-text {
  padding-top: 18px;
  font-size: 18pt;
  font-style: italic;
}

.pagination__link--active a {
  color: #fff;
}


.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
