
#salvation-header {
  background-image: url("../img/salvation.jpg"), linear-gradient(#05291d80,rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  height: 300px;
}


.shelter-about {
  background-color: #385568;
  color: white;
  vertical-align: middle;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.shelter-contact {
  background-color: rgb(247, 245, 242);
  border-radius: 15px;
  color: rgb(33, 30, 30);
}



.shelter-image {
  width: 100%;
  margin: auto;
  padding: auto
}