.App {
  text-align: center;
  --about-page-text-color: 'white';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-page {
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 16px;
  margin-bottom: 16px;
  --about-page-text-color: black;
  color: var(--about-page-text-color);
}

.about-body {
  
}

.about-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 12px;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6px;
  border-style: solid;
  border-color: var(--about-page-text-color);
  border-width: 2px;
  margin: 5px;
  min-height: 580px;
  width: 320px;
}

.about-card-detail-title {
  font-weight: bold;
  color: var(--about-page-text-color);
}

.about-card-bio {
  /* blank - can be filled in later */
}

.about-card-detail span:nth-child(1),
.overall-project-info span:nth-child(1) {
  font-weight: bold;
  padding-right: 4px;
}

.about-card-headshot-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.about-card-headshot-frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 256px;
  height: 256px;
  overflow: hidden;
  position: relative;
}

.about-card-headshot {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.about-button {
  background-color: #385568;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 20px;
  padding:0.5rem;
  font-size: 1rem;
}

.about-header {
  color: #282c34;
  font-weight: bold;

}


.btn-source {
  background-color: #258661f5;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: auto;
}

.btn-source:hover {
  background-color:rgb(247, 245, 242);
  text-decoration: none;
  color: #258661f5;
  border-radius: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
